/* รีเซ็ตและตั้งค่าพื้นฐาน */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  background-color: #171322; /* พื้นหลังสีดำ */
  color: #fff;
  font-family: "Anuphan", sans-serif;
  min-height: 100vh;
}
#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* โครงสร้างหลักของแอป */
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px 20px 20px; /* เพิ่ม padding-top เพื่อให้ห่างจาก navbar */
  min-height: 100%;
}

/* ส่วนของ Navbar */
.navbar-custom {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  max-width: 800px;
  padding: 10px 20px;
  background-color: #120f1b;
  border-radius: 25px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  margin-bottom: 30px; /* เพิ่มระยะห่างด้านล่าง navbar */
  position: sticky; /* ทำให้ navbar ติดอยู่ด้านบน */
  top: 0;
  z-index: 10; /* ทำให้ navbar อยู่เหนือองค์ประกอบอื่น */
}
/* ลิงก์ Navbar */
.nav-link {
  color: #fff;
  font-weight: 600;
  text-decoration: none;
  padding: 10px;
  transition: color 0.3s;
  flex: 1;
  text-align: center;
}
.nav-link:hover {
  color: #ffcccb;
}

/* เนื้อหา */
.content {
  width: 100%;
  max-width: 800px;
}

/* ตั้งค่าเพิ่มเติมสำหรับข้อความ */
h1,
h2 {
  color: #fff;
}
p {
  color: #ccc;
}

/* อนิเมชั่นโลโก้ */
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* ตั้งค่า Header */
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* ตั้งค่าลิงก์ */
.App-link {
  color: #61dafb;
}

/* ตั้งค่าระยะห่างเพิ่มเติมสำหรับหน้าจอขนาดเล็ก */
@media (max-width: 768px) {
  .project-card {
    margin-bottom: 1rem;
  }
  .navbar-custom {
    flex-direction: column;
    align-items: stretch;
  }
  .nav-link {
    width: 100%;
    padding: 15px 0;
  }
}
